body {
  max-width: 1024px;
  margin: 0 auto;
}
.outer {
  background: rgb(166, 248, 244);
  background-size: 100% 100%;
}

.header {
  background: rgb(36, 226, 233);
  padding-top: 6px;
  padding-bottom: 6px;
}
.header-contaner {
  display: flex;
  justify-content: left;
}
.h1 {
  padding-left: 50px;
  padding-top: 10px;
  font-size: 300%;
}
.text {
  font-size: 150%; 
}
.pheader {
  padding-left: 50px;
  font-size: 200%;
  font-style: italic;
  /* margin-top: 10px; */
  margin-bottom: 10px;
}
.photo-contaner {
padding-left: 10px;
}
.photo {
  border-radius: 50%;
  border: 1px solid gray;
  width: 200px;
  height: 210px;
}
.heading {
  color: rgb(28, 173, 179);
  font-size: 200%;
  /* padding-left: 30px; */
}
.section {
  padding-left: 30px;
  padding-bottom: 30px;
}
.h2 {
  padding-left: 30px;
  font-style: italic;
  font-size: 200%;
}
h4 {
  font-size: 130%; 
  font-style: italic;
  padding-bottom: 0px;
  padding-left: 15px;
  margin-bottom: 10px;
  margin-top: 10px;
}
p {
  padding-left: 15px;
  padding-right: 15px;
}
.nav-list {
  display: flex;
  padding-left: 60px;
}
.nav-item {
  padding-right: 76px;
}
.nav-link {
  color: black;
}
li {
  list-style: none;
}
ul {
  padding-left: 0px;
}
.header_img {
  margin-right: 30px;
}
.namenav {
  display: flex;
  flex-direction: column;
}
.outer {
  max-width: 1024px;
}
.beginner{
  text-transform: uppercase;
}

.name {
  /* text-decoration: underline; */
  color: black;
  font-size: 24px;
  padding-left: 50px;
  padding-right: 50px;
}

footer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background:  rgb(20, 226, 233);
  /* padding: 10px 300px; */
}
.projects {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 0px; 
}
.img__rss {
  width: 170px;
  height: 150px;
}
.img__rss2 {
  width: 50px;
  height: 50px;
}
.year {
  color: rgb(51, 51, 51);
  font-size: 25px;
  /* text-decoration: underline; */
  font-weight: 900;
  padding-right: 50px;
}
.github {
  background: url(./images/icons-github.png) no-repeat;
  width: 40px;
  height: 40px;
  color: antiquewhite;
  padding-left: 50px;

}
